{{% extends 'static_pages/templates/_base.html' %}}

{{% block page_title %}} | {Obj} | Dashboard{{% endblock %}}
{{% block meta_description %}}User logged in dashboard.{{% endblock %}}

{{% block content %}}

<div class="container clearnav">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    Welcome home! You're logged in as {{{{user.email}}}}.<br> 
                    Your account was created {{{{user.created_date}}}} <br>
                    <a href="/{obj}/logout">Logout</a>
                </div>
            </div>
        </div>
    </div>
</div>

{{% endblock %}}